<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.kpias.com/$1 [R,L]
</IfModule>

DirectoryIndex home.php
RewriteEngine on

RewriteCond %{HTTP_HOST} ^kpias.com$ [NC]
RewriteRule (.*) http://www.kpias.com/$1 [R=301,L] 

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* ? [F,L]

