DirectoryIndex home.php
RewriteEngine on

RewriteCond %{HTTP_HOST} ^kpias.com$ [NC]
RewriteRule (.*) http://www.kpias.com/$1 [R=301,L] 

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* ? [F,L]

